{% extends 'main.html' %}

{% block content %}
<!-- <p>you are in {{page}} page</p> -->

{% if number > 10 %}
<p>the number greater than ten! </p>
{% elif number == 10%}
<p>number is ten!</p>
{% else %}
<p>the number less than ten! </p>
{% endif %}


<hr>
<h1>Projects</h1>

<ul>
    {% for project in projects %}
        <!-- <li>Title: <a href="/project/{{project.id}}"> 
            {{project.title}}</a>--- {{project.description}}</li> -->
        
        <li>Title: <a href="{% url 'project' project.id %}"> 
            {{project.title}}</a>--- {{project.description}}</li>
        
            <!-- will go in project url and link it to single-project content -->
    {% endfor %}

</ul>

{% endblock content %}